body{
    background-image: url("bg_image.jpg");
}


#col_one{
    color: cornsilk;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:25%; 
    padding-left:1%;
    padding-top:1%;
    padding-right: 8%;
    
}

#col_two{
    color: cornsilk;
    font-size: 22px;
    height:70%;
    width:40%;
    direction: rtl; 
    vertical-align:top;
}


#about_me{
    text-align: center;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
}


#linkedin{
    background-color:transparent;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 400px;
    padding-left: 200px;
}

#education{
    padding-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio{
    color:honeydew;
    padding-left: 25px;
}

#port_list{
    font-size:20px;
}